.columns > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-2-cols > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns-2-cols > div {
    flex-direction: row;
  }

  .columns-2-cols > div > div {
    width: calc(50% - 12px);
  }
}
