.cards__inner {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 24px;
}

.card {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
}

.card__image {
  height: 250px;
}

.card-image-container {
  height: 250px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.card h4 {
  color: #fff;
  margin: 0;
  padding: 12px;
}

.card a {
  background-color: #4edcca;
  display: block;
  text-decoration: none;
}

.card a:hover * {
  background-color: #2f6165;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.card a:hover .card__image {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}